In [1]:
## Lesson 4

# In this lesson we're going to go back to the basics. We will be
# be working with a a small data set so that you can easily understand
# what I am trying to explain. We will be adding columns, deleting
# columns, and slicing the data many different ways!

# Import libraries
import pandas as pd

In [2]:
# Our small data set
d = [0,1,2,3,4,5,6,7,8,9]

# Create dataframe
df = pd.DataFrame(d)
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [3]:
# Let's change the name of the column
df.columns = ['Rev']
df

   Rev
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9

In [4]:
# Let's add a column
df['NewCol'] = 5
df

   Rev  NewCol
0    0       5
1    1       5
2    2       5
3    3       5
4    4       5
5    5       5
6    6       5
7    7       5
8    8       5
9    9       5

In [5]:
# Let's modify our new column
df['NewCol'] = df['NewCol'] + 1
df

   Rev  NewCol
0    0       6
1    1       6
2    2       6
3    3       6
4    4       6
5    5       6
6    6       6
7    7       6
8    8       6
9    9       6

In [6]:
# We can delete columns
del df['NewCol']
df

   Rev
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9

In [7]:
# Let's add a couple columns
df['test'] = 3
df['Col'] = df['Rev']
df

   Rev  test  Col
0    0     3    0
1    1     3    1
2    2     3    2
3    3     3    3
4    4     3    4
5    5     3    5
6    6     3    6
7    7     3    7
8    8     3    8
9    9     3    9

In [8]:
# If we wanted, we could change the name of the index
i = ['a','b','c','d','e','f','g','h','i','j']
df.index = i
df

   Rev  test  Col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3
e    4     3    4
f    5     3    5
g    6     3    6
h    7     3    7
i    8     3    8
j    9     3    9

In [9]:
# We can now start to select pieces of the df using loc
df.loc['a']

Rev     0
test    3
Col     0
Name: a, dtype: int64

In [10]:
# df.loc[inclusive:inclusive]
df.loc['a':'d']

   Rev  test  Col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3

In [11]:
# df.iloc[inclusive:exclusive]
df.iloc[0:3]

   Rev  test  Col
a    0     3    0
b    1     3    1
c    2     3    2

In [12]:
# We can also select with the column name
df['Rev']

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
Name: Rev, dtype: int64

In [14]:
df[['Rev','test']]

   Rev  test
a    0     3
b    1     3
c    2     3
d    3     3
e    4     3
f    5     3
g    6     3
h    7     3
i    8     3
j    9     3

In [15]:
# df['columnname'][inclusive:exclusive]
df['Rev'][0:3]

a    0
b    1
c    2
Name: Rev, dtype: int64

In [17]:
df['Col'][5:]

f    5
g    6
h    7
i    8
j    9
Name: Col, dtype: int64

In [18]:
df[['Col', 'test']][:3]

   Col  test
a    0     3
b    1     3
c    2     3

In [19]:
# There is also some handy funciton to select the top and bottom
# records of a dataframe (default = 5)

df.head()

   Rev  test  Col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3
e    4     3    4

In [20]:
df.tail()

   Rev  test  Col
f    5     3    5
g    6     3    6
h    7     3    7
i    8     3    8
j    9     3    9